<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879749253377-km41ojiodssj7dah8u6mtrobn0lq6086.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879749253377-km41ojiodssj7dah8u6mtrobn0lq6086</string>
	<key>API_KEY</key>
	<string>AIzaSyAJv8cyYua0AUe3LjvRqipzAdGG7aZnsSU</string>
	<key>GCM_SENDER_ID</key>
	<string>879749253377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studysaran.moraeng</string>
	<key>PROJECT_ID</key>
	<string>moraeng-a2ade</string>
	<key>STORAGE_BUCKET</key>
	<string>moraeng-a2ade.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879749253377:ios:f136a9c0f5a2f09972b300</string>
</dict>
</plist>